@font-face {
	font-family: 'FontAwesome';
	src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
	src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0')
		format('embedded-opentype'),
		url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
		url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
		url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular')
		format('svg');
	font-weight: normal;
	font-style: normal
}

.sorting {
	float: right;
}
.sorting-button {
	font: normal normal normal 14px/1 FontAwesome;
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
}
.no-sorting .sorting-button:before {
	content: "\f0dc";
}
.sorting-asc .sorting-button:before {
	content: "\f0de";
}
.sorting-desc .sorting-button:before {
	content: "\f0dd";
}

select.grid-limit {
	width: 60px;
	margin-right: -4px;
}

.grid-limit-box {
	text-align: right;
}

.grid .pagination {
	margin-top: 0;
	margin-bottom: 0;
}

.grid-filter-row input, .grid-filter-row select {
	margin-bottom: 0;
	width: 100%;
}

.grid-filter-row {
	border-bottom-width: 2px;
}

.grid-filter-row div {
	margin: 0 10px 0 0;
}